.title1-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.Title .title1 {
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

  font-size: 10vh;
  white-space: nowrap;
  letter-spacing: 0.5vh;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.Title .blob-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.Title .title2-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.Title .title2 {
  color: black;
  position: absolute;
  left: 50%;
  top: 39.4%;
  transform: translate(-50%, -50%);

  font-size: 10.6vh;
  white-space: nowrap;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.Title .buttons {
  display: flex;
  position: fixed;
  height: 3.5%;
  width: 4%;
  right: 3%;
  top: 2%;
}

.Title a {
  display: flex;
  margin: 0% 10%;

  cursor: pointer;
}

.Title .title2-container .buttons {
  z-index: 1;
}

.Title .links {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 2.3%;
}

.Title .links button {
  font-size: 2.5vh;
  text-shadow: 0.1vh 0vh 0vh #000;
  letter-spacing: 0.2vh;

  border: none;
  background-color: white;
  margin: 0vh 4vh;
  padding: 0vh;
  cursor: pointer;
}

.Title .links .button-left {
  top: 5%;
  position: absolute;
  left: 0;
}
